* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    height: 100%;
    background: #000; 
}

.image-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    filter: brightness(1.3) contrast(1.1);
    transition: 0.5s;
}

.button-wrapper {
    position: absolute;
    bottom: 10px;
    right: 50px;
    transform: translateY(-50%);
}


#btn {
    padding: 15px 40px;
    font-size: 20px;
    font-weight: 900;
    background: #7d5e36; 
    color: #000; 
    border: none;
    border-radius: 12px;
    transition: all 0.1s ease;
    cursor: pointer;
    transition: 0.3s;
     box-shadow: 0 6px 0 #423018; 
}

#btn:hover{
  transform: translateY(-2px);
}

#btn:active{
  transform: translateY(4px);
  box-shadow: 0 2px 0 #423018;
}

